h1{
    font-family: "Courier New";
    text-decoration: underline;
    font-weight: bold;
    font-size: 65px;
    text-align: center;
}
h2{
    font-family: "Courier New";
    color: #07b2ae;
    font-size: 42px;
}

.container{
    width: 100vw;
    margin: 0 auto;
    background-color: #0e0e0e;
}

.bar{
    background-color: lightcoral;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: inline-flex;
    justify-content: center;
}
.bar .tabs{
    display: block;
    text-align: center;
    font-size: 36px;
}

.tabs a{
    text-align: center;
    border: solid;
    border-width: 2px;
    color: ghostwhite;
}

.tabs a:hover{
    background-color: #07b2ae;
}

p{
    font-size: 16px;
}

#quote{
    font-size: 20px;
    font-style: italic;
}

table{
    background-color: lightcoral;
    border: double;
    margin: 10px;
}

td{
    font-family: "Courier New";
}

.blue{
    background-color: #07b2ae;
}

.text{
    color: ghostwhite;
    font-family: "Courier New";
}

.likes-dislikes{
    font-size: 16px;
}

#funnies-container{
    width: 100%;
    height: 600px;
    display: flex;
    overflow: scroll;
}

img{
    border-style: double;
    border-color: #07b2ae;
    border-radius: 15px;
}

table{
    margin-bottom: 20px;
}

#codepen a{
    font-size: large;
}


