h1{
    font-family: "Courier New";
    text-decoration: underline;
    font-weight: bold;
    font-size: 65px;
    text-align: center;
}
h2{
    font-family: "Courier New";
    color: #07b2ae;
    font-size: 42px;
}

.container{
    width: 100vw;
    margin: 0 auto;
    background-color: #0e0e0e;
}

.bar{
    background-color: lightcoral;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: inline-flex;
    justify-content: center;
}
.bar tabs{
    display: block;
    text-align: center;
}

.tabs a {
    text-align: center;
    border: solid;
    border-width: 2px;
}

.tabs a:hover{
    background-color: #07b2ae;
    color: ghostwhite;
}

a{
    font-family: "Courier New";
    font-size: 30px;
    color: ghostwhite;
}

table{
    background-color: lightcoral;
    border: double;
}

.blue{
    background-color: #07b2ae;
}

.text-color{
    color: ghostwhite;
}

img{
    border-style: double;
    border-color: #07b2ae;
    border-radius: 15px;
}